:root {
    --main-color: rgb(124,143,147);
    --hover-color: rgb(124,143,147);
    --couleur-theme: rgb(124,143,147);
    --couleur-theme-0-35: rgba(124,143,147,0.35);
    --couleur-theme-0-25: rgba(124,143,147,0.25);
    --couleur-theme-0-5: rgba(124,143,147,0.5);
    --couleur-theme-0-2: rgba(124,143,147,0.2);
    --couleur-theme-0-8: rgba(124,143,147,0.8);
    --couleur-them-0-3: rgba(124,143,147,0.3);
    --couleur-theme-0-2: rgba(124,143,147,0.2);
    --couleur-theme-0-008: rgba(124,143,147,0.008);
    --couleur-blanc: white;
    --couleur-rouge: rgb(240,0,6);
    --background-blur: 0px;
    --background-brightness: 100%;
    --color-deco: rgb(240,0,6);
    
}
